* {
    box-sizing: border-box;
    color: #cccccc;
    background: #2d2d2d;
    font-family: BWG-Font;
}

input[type=checkbox] {
    width: 13px;
    height: 13px;
    -webkit-appearance: none;
    margin: 0px 0 -2px 0px;
}

input[type=checkbox]:checked {
    background: #cccccc;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    width: 610px;
    overflow: hidden;
    font-size: 0.93em;
    font-weight: normal;
}

body {
    width: 600px;
    letter-spacing: 0.2px;
    margin: 5px;
}

select {
    height: 19px;
    margin: 2px;
    background: #2d2d2d;
    color: #cccccc;
    border: 1px #555555 solid;
}

input {
    height: 19px;
    width: 50px;
    background: #2d2d2d;
    color: #cccccc;
    border: 1px #555555 solid;
}

#switchSettings {
    width: 92px;
    height: 21px;
    position: absolute;
    top: 601px;
    left: 500px;
}

.line {
    height: 25px;
    line-height: 22px;
}