/********* basics *********/
* { box-sizing: border-box; color: #cccccc; background: #2d2d2d; font-family: BWG-Font; }
@font-face { font-family: "BWG-Font"; src: url("./inc/PostMediaeval-Regular.otf"); }

/********* base *********/
html, body { height: 100%; padding: 0; margin: 0; }
html 	{ overflow: hidden; font-size: 0.93em; font-weight: normal; }
body	{ letter-spacing: 0.2px; }
h1, h2  { margin: 18px 0px 2px 0; padding: 0 0 0 6px; }
h3 		{ margin-left: 0px 23px 6px 0px; }
h4 		{ padding: 4px 7px; margin: 0px; }
ul 		{ padding: 0px 10px; margin: 5px; }
a		{ text-decoration: none; color: #c54949; }
a:hover { color: #a03c3c; }
input, textarea {
    border: none;
    border-left: 1px solid #444;
    margin: 2px 0 2px 0px;
    padding: 2px 0 2px 6px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    border-radius: 50%;
    border: 1px solid #888;
    margin: -1px 2px;
    padding: 0;
    width: 10px;
    height: 10px;
}
input[type="checkbox"]:checked {
    background-color: #777;
}

/********* actual *********/
#Sheet { width: 100%; height: 100%; }
#top {
    min-height: 6%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #666;
}
#left, #right { 
    width: 50%; 
    max-height: 94%; 
    height: 100%; 
    float: left; 
    padding: 10px;
}
.noBorder {
    border: none !important;
}
.sheetBox { 
    width: 98%; 
    margin-top: 10px; 
}
.statBox {
    padding-bottom: 18px
}
.fate, .persona, .deeds {
    margin-right: 8px;
    border: none;
    padding: 0;
}
.gained-tests, .spent-artha {
    font-size: 0.9em;
    padding-top: 0px;
}
.i-100-marg, .i-087-marg, .i-075-marg, .i-068-marg,
.i-050-marg, .i-043-marg, .i-037-marg, .i-031-marg, 
.i-025-marg  { 
    float: left; 
    margin-right: 10px; 
}
.i-062, .i-025, .i-018, .i-012, .i-006 { 
    float: left; 
}
.i-100-marg { width: calc(100% - 10px); }
.i-087-marg { width: calc(87.5% - 10px); }
.i-075-marg { width: calc(75% - 10px); }
.i-068-marg { width: calc(68.75% - 10px); }
.i-050-marg { width: calc(50% - 10px); }
.i-043-marg { width: calc(43.75% - 10px); }
.i-037-marg { width: calc(37.5% - 10px); }
.i-031-marg { width: calc(31.25% - 10px); }
.i-025-marg { width: calc(25% - 10px); }
.i-018-marg { width: calc(18.75% - 10px); }
.i-012-marg { width: calc(12.5% - 10px); }
.i-006-marg { width: calc(6.25% - 10px); }

.i-075 { width: 75%; }
.i-062 { width: 62.5%; }
.i-025 { width: 25%; }
.i-018 { width: 18.75%; }
.i-012 { width: 12.5%; }
.i-006 { width: 6.25%; }
    
.bigTitle { 
    font-size: 1.8em; 
}

.midTitle { 
    font-size: 1.6em; 
    margin-left: 8px;
}

.smallTitle { 
    font-size: 1.4em; 
}

.onTop {
    transform: scale(0.7);
    margin: 0;
    padding: 0;
    height: 30px;
    width: 150px;
    display: inline-block; 
    overflow: hidden;
    text-align: center;
    cursor: move; 
    cursor: grab; 
    cursor: -moz-grab; 
    cursor: -webkit-grab;
}

.center {
    text-align: center;
}

/********* dragula *********/
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}