/********* basics *********/
* { box-sizing: border-box; color: #aaaaaa; background: #2d2d2d; font-family: BWG-Font; }
@font-face { font-family: "BWG-Font"; src: url("../inc/PostMediaeval-Regular.otf"); }

/********* base *********/
html, body { height: 100%; padding: 0; margin: 0; overflow: hidden; }
html 	{ font-size: 0.93em; font-weight: normal; }
body	{ letter-spacing: 0.2px; max-width: 100%; overflow-y: scroll; }
h1, h2  { margin: 18px 0px 2px 0; padding: 0 0 0 6px; }
h3 		{ margin-left: 0px 23px 6px 0px; }
h4 		{ padding: 4px 7px; margin: 0px; }
ul 		{ padding: 0px 10px; margin: 5px; }
a		{ text-decoration: none; color: #c54949; }
a:hover { color: #a03c3c; }
input, textarea { color: #cccccc; border: none; border-bottom: 1px solid #444; margin: 2px 0 2px 0px; padding: 2px 0 2px 6px; }
button { border: 1px solid #444; padding: 4px 6px; background: #2d2d2d; color: #aaaaaa; }

/********* scrollbar *********/
::-webkit-scrollbar 		{ width: 8px; height: 4px; }
::-webkit-scrollbar-track 	{ background: #555555; border-radius: 0px; margin: 0; }
::-webkit-scrollbar-thumb 	{ background: rgba(255,255,255,.5); border-radius: 0px; }
::-webkit-scrollbar-corner 	{ background: transparent; }

#wrapper { height: 100%; padding: 10px; }
#verbBox { margin-bottom: 16px; }
#error { color: #a03c3c; margin: 0 12px; max-width: 380px; width: 100%; }
.tenses { display: inline-grid; }
.tenses > span { width: 200px; }
.tenses > span > input { display: block; width: 98%; margin-bottom: 10px; }
.tenses > span > div { color: #666666; }
#tools { position: relative; }
#storage { margin: 20px 0px; max-width: 640px; }
#storage > div { display: inline-block; position: relative; border: 1px solid #444; padding: 4px 6px; margin: 2px 2px; width: 140px; }
.close { position: absolute; bottom: 0; right: 0; font-weight: bold; padding: 3px; cursor: pointer; }