* {
	box-sizing: border-box;
	scrollbar-color: rgba(255, 255, 255, 0.5) #555555;
	scrollbar-width: thin;
}
@font-face {
	font-family: BWG-Font;
	src: url("./assets/fonts/PostMediaeval-Regular.otf");
}
@font-face {
	font-family: Kult-Font;
	src: url("./assets/fonts/JMH-Typewriter.otf");
}
@font-face {
	font-family: Kult-Font2;
	src: url("./assets/fonts/Gravity-Regular.otf");
}
html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: auto;
	background: #2d2d2d;
	color: #cccccc;
}
::-webkit-scrollbar {
	width: 8px;
	height: 4px;
}
::-webkit-scrollbar-track {
	background: #555555;
	border-radius: 0;
	margin: 0;
}
::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 0;
}
::-webkit-scrollbar-corner {
	background: transparent;
}