* {
    box-sizing: border-box;
    color: #cccccc;
    background: #2d2d2d;
    font-family: BWG-Font;
    line-height: 20px;
}

input[type=checkbox] {
    width: 13px;
    height: 13px;
    -webkit-appearance: none;
    margin: 0px 0 -2px 0px;
}

input[type=checkbox]:checked {
    background: #cccccc;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    width: 610px;
    overflow: hidden;
    font-size: 0.93em;
    font-weight: normal;
}

body {
    width: 600px;
    letter-spacing: 0.2px;
    margin: 5px;
}

select {
    height: 19px;
    margin: 2px;
    background: #2d2d2d;
    color: #cccccc;
    border: 1px #555555 solid;
}

input, textarea {
    height: 19px;
    width: 50px;
    background: #2d2d2d;
    color: #cccccc;
    border: 1px #555555 solid;
    margin: 2px;
    padding: 0px 0px 0px 3px;
}

#switchSettings {
    width: 92px;
    height: 21px;
    position: absolute;
    top: 601px;
    left: 500px;
}

h3 {
    margin: 4px 0 0 0;
}

.line {
    height: 25px;
    line-height: 22px;
}

#topbuttons>input {
    width: 49%;
}

.wide {
    width: 60%;
    margin-bottom: 7px;
}

.half-wide {
    width: 30%;
    margin-bottom: 7px;
    margin-right: -6.1px;
}

.third-wide {
    width: 20%;
    margin-bottom: 7px;
    margin-right: -6.1px;
}

.name {
    width: 24%;
    display: inline-block;
    text-align: right;
    padding-right: 4px;
    border-right: 1px solid #555;
}

.textarea-name {
    height: 100px;
    margin-top: 10px;
    vertical-align: top;
}

.pattern-name {
    width: 24%;
    display: inline-block;
    text-align: right;
    padding-right: 4px;
    border-right: 1px solid #555;
    height: 230px;
    vertical-align: top;
    margin-bottom: 6px;
}

#pattern-group {
    display: inline-block;
}

input[disabled], select[disabled] {
    background-color: #282828;
}

textarea {
    margin-top: 10px !important;
    height: 100px !important;
}

.inbl {
    display: inline-block;
}

#spellDownload {
    background: url(../inc/icon_downChar.png) no-repeat center top;
    background-size: 30px 30px;
    position: absolute;
    top: 40px;
    left: 30px;
    width: 30px;
    height: 30px;
}