/********* basics *********/
html {
	overflow: hidden;
	font-family: BWG-Font;
	font-weight: normal;
	font-size: 0.93em;
}
body {
	letter-spacing: 0.2px;
}

/********* headers *********/
h1 {
	font-size: 3em;
	text-align: center;
	margin: 15px 0px 2px;
}
h2 {
	font-size: 2.6em;
	margin: 6px 0 2px;
	padding: 0 0 0 6px;
}
h3 {
	font-size: 2em;
	margin: 2px 8px;
}
h4 {
	padding: 4px 7px;
	margin: 0;
}

/********* lists *********/
ul {
	padding: 0;
	margin: 0;
}
ul > li {
	display: inline-block;
	padding: 2px 4px;
	margin: 0 5px 6px;
	background: #3d3d3d;
}
li > .skill,
li > .trait {
	padding-left: 0;
}
#listSearch {
	margin: 5px 23px;
}
#search {
	margin: 10px 0;
	height: 18px;
}

/********* links *********/
a,
.settingLink,
.listLink,
.skill,
.trait,
.lead,
.lp-name.lp-entry {
	color: #c54949;
	text-decoration: none;
}
a:hover,
.settingLink:hover,
.listLink:hover,
.skill:hover,
.trait:hover,
.lead:hover,
.lp-name.lp-entry:hover {
	color: #a03c3c;
	cursor: pointer;
}

/********* input *********/
input {
	height: 10px;
	margin: 0;
}
input[type="checkbox"] {
	width: 11px;
	height: 11px;
	-webkit-appearance: none;
	border: 1px #666666 solid;
}
input[type="checkbox"]:checked {
	background: #cccccc;
}
select {
	height: 20px;
	width: 100px;
	margin: 0 4px 0 0;
	padding: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #2d2d2d;
	color: #cccccc;
	border: 1px #666666 solid;
}
select > option {
	background: #2d2d2d;
	color: #cccccc;
}

/********* info box *********/
#infoBox {
	border: 2px #262626 solid;
	background: #2d2d2d;
	font-size: 0.9em;
	display: none;
	position: absolute;
	width: 300px;
	left: 0;
	top: 0;
	min-height: 50px;
	z-index: 100;
	margin: 5px;
	text-align: justify;
	text-overflow: ellipsis;
	padding: 0;
	margin: 0;
}
#infoBoxContent {
	font-size: 0.9em;
	margin: 5px;
}

/********* grid *********/
#gridContainer {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: [column-start] 10px [column-mid-left] 1fr [column-mid] 1fr [column-mid-right] 10px [column-end];
	grid-template-rows: [title-start] 70px [title-end menu-start] 30px [menu-end row-start] auto [row-mid-top] 10px [row-mid-bottom] 1fr [row-end] 10px;
	justify-content: start;
	align-content: start;
}
#title {
	grid-column: column-mid-left / column-mid-right;
	grid-row: title-start / title-end;
}
#stockWrapper {
	grid-column: column-mid-left / column-mid;
	grid-row: menu-start / menu-end;
}
#settingsWrapper {
	grid-column: column-mid-left / column-mid;
	grid-row: row-start / row-mid-top;
	min-height: 95px;
}
#lifepathsWrapper {
	grid-column: column-mid-left / column-mid;
	grid-row: row-mid-bottom / row-end;
	overflow: auto;
}
#panelWrapper {
	grid-column: column-mid / column-mid-right;
	grid-row: menu-start / menu-end;
}
#characterTitle {
	grid-column: column-mid / column-mid-right;
	grid-row: row-start / row-mid-top;
}
#characterWrapper {
	grid-column: column-mid / column-mid-right;
	grid-row: row-mid-bottom / row-end;
	overflow: auto;
	display: grid;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: [column-start] 1fr [column-end];
	grid-template-rows:
		[char-lph-start] auto [char-lph-end
		char-lp-start] auto [char-lp-end
		char-sth-start] auto [char-sth-end
		char-st-start] auto [char-st-end];
	justify-content: start;
	align-content: start;
}

/********* titles *********/
#innerTitle,
.smallTitle {
	margin-top: 0;
	font-weight: bolder;
}
#innerTitle {
	margin: 0 0 0 10px;
	font-size: 2em;
}
.smallTitle {
	padding-left: 26px;
	font-size: 1.6em;
	cursor: pointer;
}

/********* character panel *********/
#char-lp-h {
	grid-column: column-start / column-end;
	grid-row: char-lph-start / char-lph-end;
	overflow: auto;
}
#char-lp {
	grid-column: column-start / column-end;
	grid-row: char-lp-start / char-lp-end;
	overflow: auto;
}
#char-stats {
	grid-column: column-start / column-end;
	grid-row: char-sth-start / char-sth-end;
	overflow: auto;
}
#char-stats {
	grid-column: column-start / column-end;
	grid-row: char-st / char-st;
	overflow: auto;
}

/********* lifepaths *********/
#contentTop {
	top: 0;
	position: sticky;
	background: #2d2d2d;
}
.lp-grid {
	width: 100%;
	padding: 12px 0px;
	display: grid;
	grid-template-columns:
		[column-start-1] 55% [column-end-1
		column-start-2] 15% [column-end-2
		column-start-3] 15% [column-end-3
		column-start-4] 15% [column-end-4];
	grid-template-rows:
		[title-start] auto [title-end
		leads-start] auto [leads-end
		skills-start] auto [skills-end
		traits-start] auto [traits-end
		requirements-start] auto [requirements-end
		restrictions-start] auto [restrictions-end];
}
.lp-top {
	background: #3d3d3d;
	padding: 2px 4px;
	margin: 0 0 -10px -1px;
}
.lp-entry {
	background: #353535;
	padding: 2px;
	margin: 1px 1px 1px 0px;
}
.lp-name {
	grid-column: column-start-1 / column-end-1;
	grid-row: title-start / title-end;
}
.lp-time {
	text-align: center;
	grid-column: column-start-2 / column-end-2;
	grid-row: title-start / title-end;
}
.lp-resources {
	text-align: center;
	grid-column: column-start-3 / column-end-3;
	grid-row: title-start / title-end;
}
.lp-stats {
	text-align: center;
	grid-column: column-start-4 / column-end-4;
	grid-row: title-start / title-end;
}
.lp-leads {
	grid-column: column-start-1 / column-end-4;
	grid-row: leads-start / leads-end;
	padding: 2px;
	border-bottom: 1px#3B3B3B dashed;
	background: #353535;
}
.lp-skills {
	grid-column: column-start-1 / column-end-4;
	grid-row: skills-start / skills-end;
	padding: 2px;
	border-bottom: 1px#3B3B3B dashed;
}
.lp-traits {
	grid-column: column-start-1 / column-end-4;
	grid-row: traits-start / traits-end;
	padding: 2px;
}
.lp-requirements {
	grid-column: column-start-1 / column-end-4;
	grid-row: requirements-start / requirements-end;
	padding: 2px;
	border-top: 1px#3B3B3B dashed;
	font-size: 0.9em;
}

/********* options *********/
#generalOptions {
	display: none;
	position: absolute;
	z-index: 1234567890;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: auto;
	background: #2d2d2d;
	grid-template-columns:
		10px
		[column-start-1] 1fr [column-end-1
		column-start-2] 1fr [column-end-2]
		10px;
	grid-template-rows:
		10px
		[row-start-1] 1fr [row-end-1
		row-start-2] 1fr [row-end-2]
		10px;
}
#characterQuestions {
	grid-column: column-start-1 / column-end-1;
	grid-row: row-start-1 / row-end-2;
	overflow: auto;
}
#appropriateWeapons {
	grid-column: column-start-2 / column-end-2;
	grid-row: row-start-1 / row-end-1;
}

/********* icons *********/
#genOptOpenIcon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../assets/icons/icon_settings.png") no-repeat center top;
	background-size: 20px 20px;
	margin-bottom: -4px;
	cursor: pointer;
}

#genOptCloseIcon {
	display: block;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 20px;
	height: 20px;
	background: url("../assets/icons/icon_close.png") no-repeat center top;
	background-size: 20px 20px;
	cursor: pointer;
}

/********* buttons *********/
.stat {
	width: 31%;
	margin: 4px 4px;
}
.stat,
.shade,
.exponent,
.stat-name {
	display: inline-block;
}
.data {
	text-align: center;
	border: 2px #555555 solid;
	margin: 2px 2px 0px 2px;
}
.up {
	background: url("../assets/icons/arrow_up.png") no-repeat;
}
.down {
	background: url("../assets/icons/arrow_down.png") no-repeat;
}
.up,
.down {
	background-size: 70% 80%;
	cursor: pointer;
	height: 10px;
	width: 24px;
	background-position: bottom;
}

/********* media *********/
@media only screen and (max-width: 600px) {
	#infoBox {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	#gridContainer {
		grid-template-columns: [column-start] 10px [column-mid-left] 1fr [column-mid] 10px [column-end];
		grid-template-rows: [title-start] 70px [title-end menu-start] 30px [menu-end row-start] auto [row-mid-top] 10px [row-mid-bottom] auto [row-end];
		justify-content: start;
		align-content: start;
	}
	#panelWrapper,
	#characterTitle,
	#characterWrapper {
		display: none;
	}
}
